/* Configuracion general */
.profileDescription{
  background-color: #EEE;
}

.profileDescription div{
  position: absolute;
  width: 100%;
  height: 50%;
}

.profileDescription .Description{
  justify-content: center;
  display: flex;
  align-items: center;
}

/* descripcion general */
.profileDescription > .Description > .description{
  position: absolute;
  width: 80%;
  height: 90%;
  border-radius: 5px;
  background-color: #ee6c4d44;
  display: flex;
  justify-content: center;
}

/* titulo de descripcion */
.profileDescription > .Description > .description > h1{
  position: absolute;
  top: 0%;
  border-bottom: solid 5px #ee6c4d;
}

/* descripcion detallada */
.profileDescription > .Description > .description > p{
  position: absolute;
  top: 30%;
  text-align: justify;
  width: 80%;
}

.profileDescription .Skills{
  top: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.profileDescription > .Skills > div{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.profileDescription > .Skills > div > div{
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #ee6c4d44;
  border-radius: 5px;
  justify-content: center;
  display: flex;
}

.profileDescription > .Skills > div > div > h3{
  height: 1.5em;
  border-bottom: solid 5px #ee6c4d;
}

.profileDescription > .Skills > div > div > p {
  position: absolute;
  width: 75%;
  height: 65%;
  top: 25%;
  justify-content: space-evenly;
  font-size: 1.5em;
  text-align: center;
}
.profileDescription > .Skills > div > div > p > i{
  border: 2px;
  position: relative;
}
