/* general configuration */
.projects > div{
  position: relative;
  width: 95%;
  height: 33.3%;
  left: 5%;
  transition: .5s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects > div:hover{
  left: 0%;
  width: 100%;
}

.projects > .first{
  background-color: #f79646;
}

.projects > .second{
  background-color: #f97448;
}

.projects > .third{
  background-color: #e8807d;
}

/* background image configuration */
.projects > div > img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .5;
}

/* headers configuration */
.projects > div > h3{
  position: absolute;
  left: 5%;
  z-index: 1;
  color: black;
  transition: .5s;
}

.projects > div:hover > h3{
  left: 10%;
}

/* condition configuration */

.in-process{
  border: solid 6px #f406;
}

.building{
  border: solid 6px #fd06;
}

.ready{
  border: solid 6px #7f06;
}

.cancel{
  border: solid 6px #f106;
}

.projects > div > .condition{
  position: absolute;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-radius: 6px;
  top: 15%;
  left: 30%;
  transition: .5s;
}

.projects > div:hover > .condition{
  left: 33.5%;
}

/* project description configuration */
.projects > div > p{
  position: absolute;
  z-index: 1;
  width: 30em;
  height: 4em;
  top: 20%;
  left: 5%;
  transition: .5s;
}

.projects > div:hover > p{
  left: 10%;
}
