/* all social networks */
.socialNetworks div{
  position: absolute;
  width: 100%;
  left: 0%;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}

/* general social networks */
.socialNetworks .general{
  position: absolute;
  top: 5%;
  height: 8em;
  color: #AAA;
}

/* specific social networks */
.socialNetworks .specific{
  position: absolute;
  top: 50%;
  height: 3em;
  color: #AAA;
}

.socialNetworks div a{
  color: #AAA;
}
