/* colors
  gris: #505046;
  contacto
    principal: #e84c22;
    secundario: #ffbd47;
  redes
    principal: #b64926;
     */

/* El código descritó acontinuación es obtenido de la cuenta de instagram webcrafterscz.
https://www.instagram.com/p/Bq7M32kBe1Q/?igshid=c0za1061c0o9 */
body {
  overflow: hidden;
  margin: 0;
  background: #555;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.content{
  background: #555;
}

.contact-info {
  position: fixed;
  top: 20%;
}

.option {
  position: relative;
  cursor: pointer;
}

.option i{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #c0504d;
  color: #555;
  font-size: 30px;
  transition: 0.9s;
}

.option:hover i{
  color: #c48987;
}

.text {
  position: absolute;
  height: 50px;
  width: 500px;
  background: #c48987;
  top: 0;
  z-index: -1;
  left: -450px;
  color: #555;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  transition: 0.7s;
}

.option:hover .text{
  left: 50px;
}

/* own code */

.project-info{
  z-index: -1;
  position: fixed;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  /* border: solid 1px black; */
}

.project {
  position: relative;
  width: 100%;
  height: 33%;
}

.color-1{
  background: #f79646;
}

.color-2{
  background: #f97448;
}

.color-3{
  background: #e8807d;
}

.Color-1{
  background: #f79646a0;
}

.Color-2{
  background: #f97448a0;
}

.Color-3{
  background: #e8807da0;
}

.project .color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: -1;
  text-align: center;
  transition: 0.7s;
}

.project:hover .color {
  opacity: .5;
}

.fondo{
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dbdbdb;
}

.project i {
  position: relative;
  color: #555;
  top: 40%;
  left: 2%;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.project .image{
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
}

.project .image img{
  position: relative;
  top: -50px;
  z-index: -2;
  width: 100%;
  height: 100%;

}

.project .lenguages {
  position: absolute;
  top: 15px;
  left:80%;
  height: 120px;
}

.project .lenguages i{
  position: relative;
  display: inline-block;
  color: #555;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.project .description {
  position: absolute;
  top: 15px;
  left: 20%;
  width: 60%;
  height: 100%;
}

.project .description .title {
  display: flex;
  position: relative;
  height: 100%;
  color: #333;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  font-family: "Karla";
  transition: .7s;
}

.project:hover .description .title {
  justify-content: left;
  align-items: flex-start;
  font-size: 35px;
  text-shadow:
    -.2px -.2px 0 #fff,
    .2px -.2px 0 #fff,
   -.2px .2px 0 #fff,
    .2px .2px 0 #fff;
  height: 40px;
}

.project .description .desc {
  display: block;
  position: fixed;
  height: 100px;
  width: 680px;
  color: #333;
  text-align: left;
  font-size: 25px;
  font-family: "Karla";
  opacity: 0.0;
  transition: .7s;
}

.project:hover .description .desc {
  opacity: 1.0;
}
