/* colors
  gris: #505046;
  contacto
    principal: #e84c22;
    secundario: #ffbd47;
  redes
    principal: #b64926;
     */

/* El código descritó acontinuación es obtenido de la cuenta de instagram webcrafterscz.
https://www.instagram.com/p/Bq7M32kBe1Q/?igshid=c0za1061c0o9 */
body {
  overflow: hidden;
  margin: 0;
  background: #f9dcb8;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.contact-info {
  position: fixed;
  top: 20%;
}

.option {
  position: relative;
  cursor: pointer;
}

.option i{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #e84c22;
  color: #555;
  font-size: 30px;
  transition: 0.9s;
}

.option:hover i{
  color: #ffbd47;
}

.text {
  position: absolute;
  height: 50px;
  width: 500px;
  background: #ffbd47;
  top: 0;
  z-index: -1;
  left: -450px;
  color: #555;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  transition: 0.7s;
}

.option:hover .text{
  left: 50px;
}
