/* .option i{
  transition: 0.9s;
}

.option:hover i{
  color: #c48987;
} */

/*Configuración de color general de los sectores del portafolio*/
.Presentacion{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25%;
  background: #000000;
  color: #AAA;
}
.Contacto{
  position: fixed;
  left: 0px;
  top: 25%;
  height: 75%;
  width: 5%;
  background: #555;
  text-align: center;
  text-align-last: center;
}
.Proyectos{
  position: fixed;
  left: 5%;
  top: 25%;
  height: 75%;
  width: 95%;
  background: #DDD;
}

/* Confguración  pe sector de presentación */
.Presentacion h1{
  position: fixed;
  left: 100px;
  top: 5px;
  height: 80px;
  width: 850px;
  font-size: 70px;
}
.Presentacion h3{
  position: fixed;
  top: 100px;
  left: 500px;
  font-size: 30px;
}
.Presentacion .profile{
  position: fixed;
  top: 100px;
  left: 100px;
  height: 40px;
  width: 400px;
}

.Presentacion i{
  position: absolute;
  top: 130px;
  left: 400px;
  font-size: 40px;
}

.Presentacion .photo{
  position: fixed;
  top: 20px;
  left: 1000px;
  border: solid 5px #AAA;
  width: 120px;
  height: 120px;
  border-radius: 70px;
}

/* Configuración de la seccion de contacto */
.Contacto a {
  display: block;
  height: 60px;
  font-size: 50px;
  color: white;
}

.Contacto .space{
  display: block;
  width: 100%;
  height: 0px;
  left: 5px;
  border: solid 2px #999;
  border-radius: 2px;
  margin-top: 2px;
}

/* Configuración de diseño de la zona de proyectos */
.Proyectos div{
  width: 50%;
  height: 100%;
}

.Proyectos .Descripcion{
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  text-align-last: center;
}

.Proyectos .Descripcion h1{
  position: absolute;
  top: 10%;
  left: 20%
}
.Proyectos .Descripcion p{
  text-align: justify;
  width: 60%;
  position: absolute;
  top: 25%;
  left: 15%
}

.Proyectos .The-Best-Projects{
  position: absolute;
  top: 0px;
  left: 50%;
}

.Proyectos .Descripcion .Habilidades{
  position: absolute;
  top: 45%;
  width: 100%;
}

.Proyectos .Descripcion .Habilidades div div i{
  font-size: 30px;
}

.Proyectos .Descripcion .Habilidades div div{
  width: 100%;
}

.Proyectos .Descripcion .Habilidades div{
  /* border: solid 1px black; */
  width: 33.3%;
  height: 25%;
}

.Proyectos .Descripcion .Habilidades .FrontEnd {
  position: absolute;
  top: 30%;
  left: 15%;
}
.Proyectos .Descripcion .Habilidades .BackEnd {
  position: absolute;
  top: 5%;
  left: 33.3%;
}
.Proyectos .Descripcion .Habilidades .Math {
  position: absolute;
  top: 5%;
  left: 66.6%;
}
.Proyectos .Descripcion .Habilidades .CAD {
  position: absolute;
  top: 5%;
  left: 0%;
}
.Proyectos .Descripcion .Habilidades .VersionControl {
  position: absolute;
  top: 30%;
  left: 55%;
}

.Proyectos .The-Best-Projects .Project{
  height: 30%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Proyectos .The-Best-Projects .Project img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: .5;
}

.Proyectos .The-Best-Projects .Project h1{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff7;
}

.Proyectos .The-Best-Projects .Project div{
    z-index: 1;
    position: absolute;
    top:40%;
    width: 80%;
    height: 60%;
    background-color: #fff7;
}

.Proyectos .The-Best-Projects .FirstProject{
  position: absolute;
  top: 5%;
  background-color: #f79646;
}
.Proyectos .The-Best-Projects .SecondProject{
  position: absolute;
  top: 35%;
  background-color: #f97448;
}
.Proyectos .The-Best-Projects .ThirdProject{
  position: absolute;
  top: 65%;
  background-color: #e8807d;
}

.in-process{
  background-color: #f406;
}

.building{
  background-color: #fd06;
}

.ready{
  background-color: #7f06;
}

.cancel{
  background-color: #f106;
}
